
/***********************************
**********************************
**********************************

1- Global Styles
    1-1- Body
    1-2- Headers
    1-3- Links,Buttons 
    1-4- Paragraphs
    1-4- Lists

2- Framework Classes

3- Header Style
   2-1- Navbar Style
   2-2- Header Image Section

4- Main Style   
   3-1- About Me Section
   3-2- Skills Section
   3-3- Portfolio Section
   3-4- Contact Me Section

5- Footer Style   

****************************************
***************************************
****************************************/

   

/*************** Global Style ****************/

/* Root  */

:root {
    --main-color: #1a166a;
}

/* HTML */

html {
    scroll-behavior: smooth;
}

/* Body */

body {
    font-family: fantasy;
    overflow-x: hidden;
    letter-spacing: 2px;
}

/* Headers */

h1 {
    font-size:46px;
    margin: 0;
}


h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 44px;
    padding: 30px 0px;
    text-transform: uppercase;
}

/* Links,Buttons */

a {
    text-decoration: none;
    padding: 20px;
    color: #FFF;
    display: inline-block;
    transition: .6s;
    font-weight: 900;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

button {
    background-color: var(--main-color);
}

button:hover,
button:focus {
    outline: none;
} 

/* Paragraphs */

p {
    color: #888;
    font-weight: bold;
    line-height: 2.5rem;
}

/* Lists */

ul {
    margin: 0;
    padding: 0;
}

/*************** FrameWork ****************/

.img-whiten {
    filter: brightness(0) invert(1);
}

/*************** Header Style ****************/

header {
    position: relative;
}

/* Navbar Style */

nav {
    background-color: transparent; 
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

@media(max-width: 624px ) {
    .desktop-nav {
        display: none;
    }

    nav .nav-inner {
        display: flex;
        justify-content: space-between;
    }
}

a.brand-nav {
    padding-left: 0;
    padding-right: 0;
}

#my-name {
    font-size: 36px;
    font-weight: 800;
    color: #FFF;
}

ul.links-list {
    list-style: none;
    display: flex;
}

ul.links-list li {
    display: inline-block;
}

ul.links-list li a {
    padding-top: 10px;
}

ul.links-list li a:first-child {
    padding-left: 0;
}

ul.links-list li a:hover  ,
.show-mobile-list-btn:hover {
    color: var(--main-color);	 
}

.show-mobile-list-btn {
    display: none;
    border: none;
    outline: none;
    padding: 20px;
    color: #FFF;
    background-color:transparent;
    cursor: pointer;
    transition: .6s;
}

@media (max-width: 624px ) {
    .show-mobile-list-btn {
        display: block;
        padding-right: 0;
    }
}

.links-list-mobile-holder {
    position: fixed;
    top: 0;
    right: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.877);
    transition: .6s;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links-list-mobile-holder.show {
    right: 0;
}

@media (min-width: 625px ) {
    .links-list-mobile-holder {
        display: none;
    }
}

.links-list-mobile {
    flex-grow: 1;
}

.links-list-mobile li a {
    display: block;
}

.close-mobile-links a {
    padding: 16px 30px;
}

.close-mobile-links a:hover {
    background-color: transparent;
    color: #FFF;
}

.close-mobile-links a span {
    display: inline-block;
    transition: 1s;
}

.close-mobile-links a:hover span {
    transform: rotate(360deg);
}

/* Header Image Section */

header {
    /* min-height: 100vh; */
    position: relative;
    z-index: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header-star {
    max-width: 10vw;
    width: 100px;
    position: absolute;
    z-index: 2;
    opacity: .9
}

#header-bg {
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; */
}

#header-rocks,
#header-rocks-right-corner  {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#header-rocks-right-corner {
    left: 0;
    z-index: 5;
}

h1#my-name,
h2#my-job {
    font-size: 46px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 2px 10px #1d0f67;
}

h1#my-name {
    top: 20%;
    left: 50%;
}

h2#my-job {
    top: 30%;
    left: 50%;
}

#astro,
#alien-space-ship,
#astro-fly {
    position: absolute;
    width: 5vw;
    z-index: 4;
}

#astro {
    right: 45%;
    bottom: 20%;
}

#astro-fly {
    z-index: 2;
}

#alien-space-ship {
    top: 15%;
    left: 25%;
    width: 8vw;
}

.who-am-i h2 {
    font-size: 45px;
    font-weight: 900;
    color: #FFF;
}

@media(max-width: 500px) {
    h2#my-job {
        font-size: 2rem;
    }
}

.header-wave,
.skills-top-wave {
    position: absolute;
    top: 0;
    transform: translateY(-95%);
    left: 0;
    width: 100%;
}

/*************** Main Style ****************/

/* About Me */

.about-me {
    padding: 50px 0px;
    position: relative;
    z-index: 6;
    background-color: #FFF;
}

.about-me h2 {
    text-align: center;
}

.about-me-image-holder img {
    width: 100%;
}

/* Skills */

.skills {
    padding: 100px 0px;
    background-color: var(--main-color);
    position: relative;
    z-index: 10;
}


.skills h2 {
    color: #FFF;
    margin-bottom: 50px;
}

.skills .skills-main-image img {
    width: 100%;
}

.skill-name {
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
}

.skill-bar-percentage {
    height: 30px;
    width: 50%;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
}

.skill-bar-percentage span {
    font-weight: bold;
    color: #666;
    margin: auto;
}


/* Portfolio */


.project {
    background-color: var(--main-color);
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
}

.project span {
    margin: auto;
    font-size: 21px;
}


/* Contact Me */

.contact-me {
    padding-bottom: 100px;
    background-color: var(--main-color);
}

.contact-me h2 {
    color: #FFF;
}

.social-link-holder a i {
    color: #FFF;
    font-size: 56px;
}

.phone-number {
    font-size: 36px;
}

/*************** Footer Style ****************/

footer strong {
    color: var(--main-color);
}

.back-top {
    border-radius: 50%;
    bottom : 50px;
    right:30px;
    color: #FFF;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .7s;
    opacity: 0;
}

@media(max-width: 624px) {
    .back-top{
        right: 10px;
    }
    .back-top i {
        font-size: 18px !important;
    }
}

.back-top.show {
    opacity: 1;
}